body {
    background-color: #c6e2ff
}


.axis text {
    font: 10px sans-serif;
}

.axis text.xLabel,
.axis text.yLabel {
    font: 13px sans-serif;
}

.container h1 {
	padding-top: 30px;
	padding-bottom: 10px;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

rect {
	shape-rendering: crispEdges;
}

circle {
	fill-opacity: 0.5;
}

.sample.sound {
	fill: green;
	stroke: green;
	stroke-width: 0.6;
}

.sample.decay {
	fill: red;
	stroke: red;
	stroke-width: 0.6;
}

circle:hover {
	fill-opacity: 1;
}

.buttons_forms {
	padding-top: 30px;
	padding-bottom: 15px;
}

.formulario {
	padding-top: 10px;
}